.aboutImagebox {
  background-image: url(/img/aboutme.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 500px;
}

.aboutmetextbox {
  margin-top: 20px;
  margin-bottom: 40px;
  padding: 10px;
}

.aboutmetext {
  color: var(--text-color);
  font-size: 1.5rem;
  line-height: 2rem;
}

.aboutmeList {
  list-style: none;
  color: var(--text-color);
  font-size: 1.5rem;
  line-height: 3rem;
  font-weight: bold;
}
