.headerimage {
  background-image: url(/img/header.svg);
  height: 300px;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: 100%;
}

.logoimage {
  width: 120px;
  margin: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
}

.headerList {
  display: flex;
  list-style: none;
}

.navLinks a {
  color: var(--text-color);
  margin-left: 40px;
  font-family: "Roboto Mono", sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.active {
  background-color: var(--pink-color);
  height: 30px;
  border-radius: 5px;
  width: 100px;
  text-align: center;
}

.hamburgerMenu {
  display: none;
}

.exitHamburger {
  color: white;
}

nav .headerList {
  display: flex;
  list-style: none;
}
nav .headerList li a {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.2rem;
}
nav .hamburgerMenu {
  font-size: 2rem;
  margin: 20px;
  display: none;
  cursor: pointer;
}
nav .headerList .exitHamburger,
.icons i {
  font-size: 2rem;
  display: none;
  cursor: pointer;
}

nav .logo {
  cursor: pointer;
}
@media (max-width: 800px) {
  nav .headerList {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(0, 0, 0);
    transition: top 1s ease;
    display: none;
  }
  nav .headerList .exitHamburger {
    display: block;
    position: absolute;
    top: 10%;
    right: 10%;
  }
  nav .hamburgerMenu {
    display: block;
    color: white;
  }
  .icons i {
    display: inline-block;
    padding: 12px;
  }
}
