.headerimage {
  background-image: url(/img/header.svg);
  height: 300px;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: 100%;
}

.logoimage {
  width: 110px;
  margin: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
}

ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.navLinks a {
  color: white;
  margin-left: 40px;
  font-family: "Roboto Mono", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
}
