.headerimage {
  background-image: url(/img/Vector.png);
  height: 250px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.logoimage {
  width: 120px;
  margin: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;

  margin: auto;
}

ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.navLinks a {
  color: white;
  margin-left: 30px;
  font-family: "Roboto Mono", sans-serif;
  font-size: 1.5rem;
}
