@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto Mono", "Red hat Text";
}

body {
  background-color: #161616;
  max-width: 1440px;
  margin: auto;
}

main {
  margin: auto;
}

h1 {
  color: var(--text-color);
  font-size: 3rem;
  font-weight: lighter;
  font-family: "Red hat text", sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 80px;
}

.herobanner {
  background-image: url(/img/wasis-riyan-n2LaluKX2hk-unsplash.jpg);
  background-image: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 600px;
  background-size: 100%;
  margin-bottom: 100px;
}

.sliderbox {
  font-size: 5rem;
  color: var(--text-color);
  text-align: center;
  margin-top: 150px;
  border: solid 2px red;
  height: 350px;
}

.welcomeTextBox {
  margin: 40px auto 80px auto;
  width: 80%;
}

.welcomeText {
  color: var(--text-color);
  font-size: 1.7rem;
  line-height: 50px;
}

/* SLICK CHAROUSEL */

.slider {
  width: 50%;
  margin: 100px auto;
}

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: green;
}

.slick-slide {
  transition: all ease-in-out 0.3s;
  opacity: 0.2;
}

.slick-active {
  opacity: 0.5;
}

.slick-current {
  opacity: 1;
}

.blogpost {
  margin: auto;
}
.blogpost > p {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 8px;
}
.blogpost > h1,
.blogpost > h2 {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
  background-color: #dd9658;
  color: #fff;
  border-radius: 8px;
}
.blogpost > h4 {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
  background-color: #dd9658;
  background: linear-gradient(45deg, #dd9658, transparent);
  color: #fff;
  border-radius: 4px;
}

.blogpost .wp-block-image img {
  width: 100%;
  height: auto;
}
