@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto Mono", "Red hat Text";
}

body {
  background-color: #322e2e;
  max-width: 1540px;
  margin: auto;
}

h1 {
  color: var(--text-color);
  font-size: 3rem;
  font-weight: bolder;
  font-family: "Red hat text", sans-serif;
  text-transform: uppercase;
  letter-spacing: 6px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 80px;
}

.herobanner {
  background-image: url(/img/wasis-riyan-n2LaluKX2hk-unsplash.jpg);
  background-image: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 500px;
  background-size: 100%;
  margin-bottom: 100px;
}

.welcomeTextBox {
  margin: 40px auto 80px auto;
}

.welcomeText {
  color: var(--text-color);
  font-size: 1.7rem;
  line-height: 50px;
}
