@media (max-width: 1100px) {
  .headerimage {
    background-size: 150%;
  }
  h1 {
    font-size: 1.2rem;
  }
}

@media (max-width: 800px) {
  .headerimage {
    background-size: 150%;
  }

  .formDiv {
    width: 100%;
  }

  .logoimage {
    width: 80px;
    margin: 20px;
  }
  h1 {
    font-size: 1.5rem;
  }
  .aboutImagebox {
    height: 300px;
  }
  .welcomeText {
    font-size: 1.2rem;
  }
}

@media (max-width: 500px) {
  .headerimage {
    background-size: 150%;
  }

  .logoimage {
    width: 60px;
    margin: 20px;
  }

  h1 {
    font-size: 2rem;
  }

  .aboutmetext {
    font-size: 1.2rem;
    line-height: 2rem;
  }

  .aboutImagebox {
    height: 300px;
  }
  .formDiv {
    width: 100%;
  }
}
