.postsContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1300px;
  row-gap: 40px;
  margin: auto;
  column-gap: 30px;
  justify-content: space-evenly;
}

.postsCards {
  display: block;
  height: 450px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: black;
}

.postCardTextContainer {
  width: 300px;
  color: var(--text-color);
  padding: 10px;
  font-family: "Red hat Text", "Roboto Mono";
}

.postsCardText {
  color: var(--text-color);
  font-weight: bold;
  font-size: 1.3rem;
}

.postsImage {
  width: 300px;
  height: 300px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.fa-plus-circle {
  color: var(--blue-color);
  font-size: 3rem;
  margin: auto;
}

.viewmoreBtn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 50px;
  cursor: pointer;
}

/* .loadingcontainer {
  width: 100%;
}

.loading {
  width: 30%;
  margin: auto;
} */
