.modalImage {
  width: 100%;
  /* height: 600px; */
}

.wp-image-104 {
  width: 50%;
  display: flex;
  margin: auto;
}

.specificblogText {
  color: var(--text-color);
  margin-top: 40px;
  line-height: 40px;
  font-size: 1.3rem;
  padding: 10px;
}

.detailsImg {
  width: 100%;
}

/* PopUp */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
