.wp-image-187,
.wp-image-151,
.wp-image-157,
.wp-image-148,
.wp-image-222,
.wp-image-155 {
  width: 100%;
  height: 800px;
}

.specificblogText {
  color: var(--text-color);
  margin-top: 40px;
  line-height: 40px;
  font-size: 1.3rem;
}

.detailsImg {
  width: 100%;
}
